@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import 'Variables';

body {
   border: 0;
   padding: 0;
   margin: 0;
   font-family: 'DM Sans', sans-serif;
   font-size: 1rem;
   color: $text;
   font-weight: 400;
   overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 500;
}

a:link {
   color: $dark-orange;
   text-decoration: none;
}

a:visited {
   color: $blue2;
   text-decoration: none;
}

a:hover {
   color: $blue;
   text-decoration: none;
}

a:active {
   color: $dark-orange;
   text-decoration: underline;
}
